body{

}
.heavy{
    height: 400px;
    width: 16%;
    margin-top: 90px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: rgba(128, 128, 128, 0.767);
    float: left;
    border-radius: 10px;
    
}

.heavy:hover{
    background-color: rgba(255, 115, 0, 0.767);
}

.heavy_img{

}
.desc_g{
    
}