body{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#main{
 width: max-content;
}

#top_thing{
    margin: auto;
    font-size: 24px;
    border-spacing: 10px;

}


#top_thing a{
        color:white;
        text-align: center;
        margin: auto;
    text-decoration: none;

}

#top_thing td{
    padding: 5px 10px;
    border:2px solid rgb(0, 102, 255);
   border-radius: 12.5px;
}
#top_thing td:hover{
border:2px 2px solid rgb(0, 225, 255);

}
#top_thing td:active{
        border:2px solid rgb(62, 103, 109);

}

#navbar{
        margin: auto;
    font-size: 24px;
    border-spacing: 10px;
}



#navbar a{
        color:white;
        text-align: center;
        margin: auto;
    text-decoration: none;

}

#navbar td{
    padding: 5px;
    border:2px solid rgb(255, 115, 0);
   border-radius: 100px;
}
#navbar td:hover{
border: 2px solid rgb(0, 102, 255);

}
#navbar td:active{
        border:2px solid rgb(255, 115, 0);

}

#container{
    width: 90%;
    gap: 10px;
  align-items:center;
  border: 2px white solid;
display: flex;
      flex: 100%;
color: wheat;
    margin: auto;
padding:10px 5px ;
}


#left_pics #right_pics{
max-width: 20%;
flex:10%;
  border: 2px white solid; 
    display: flex;
padding:5px ;
text-align: justify;


}

#right_pics{
    display: block;
    text-align: center;
}

#center {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;       
    gap: 10px;
    text-align: justify;
}

#right_pics img{
    width: 500px;
    height: auto;
}


#left_pics{
    align-self: left;
}

#right_pics{
    float: right;
    margin-left: 5px;
    max-width: 600px;
}
.head_img{
    text-align: center;
    width: 91%;
    margin: auto;
    display: block;
}