body{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#main{
 width: max-content;
}

#top_thing{
    margin: auto;
    font-size: 24px;
    border-spacing: 10px;

}


#top_thing a{
        color:white;
        text-align: center;
        margin: auto;
    text-decoration: none;

}

#top_thing td{
    padding: 5px 10px;
    border:2px solid rgb(0, 102, 255);
   border-radius: 100px;
}
#top_thing td:hover{
border:2px solid rgb(255, 115, 0);

}
#top_thing td:active{
        border:2px solid rgb(255, 115, 0);

}


#container{
    width: 90%;
    gap: 10px;
  align-items:center;
  border: 2px white solid;
display: flex;
      flex: 100%;
color: wheat;
    margin: auto;
padding:10px 5px ;
}


#left_pics #right_pics{
max-width: 20%;
flex:20%;
  border: 2px white solid; 
    display: flex;
padding:5px ;
text-align: justify;


}

#center{
    max-width: 80%;
    display: flex;
padding:5px ;
text-align: justify;

}

#left_pics{
    align-self: left;
}

#right_pics{
    align-self: right;
        display: flex;
}
.head_img{
    text-align: center;
    width: 91%;
    margin: auto;
    display: block;
}